body{
  background-image:  url("../assets/bannerimg2.png") center/cover no-repeat;

}

/* Desgin for small banner starts now */
.smallbanner {
  background-image: url("../assets/bannerimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;       /* Makes the image cover the full div */
  background-position: center;  /* Centers the image */
  height: 250px;                /* You can adjust height as needed */
  border-radius: 1rem;          /* Optional: matches rounded-xl */
}

.fullwidth{
  width: 100vw;
}