@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nova+Flat&display=swap');
.noto-serif-article-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  color: #000;
  background-color: #fff;
  font-size: 3rem;
}
